{% extends 'core/base.html' %}

{% load static %}

{% block title %}Calendario de Conciertos{% endblock %}

{% block first_content %}
<section class="container bg-dark text-white text-center my-4 p-3 rounded">
    <h3>Conciertos</h3>
</section>
{% endblock %}

{% block second_content %}

<section class="container mt-2">    
    <div class="row d-flex align-items-stretch">
        {% for c in conciertos %}
        <div class="card">
            <div class="card card-img-top" style="width: 13rem;">
                {% if c.imagen %}
                <img src="{{c.imagen.url}}" class="card-img-top p-2" alt="{{c.artista}}">
                {% else %}
                <img src="{% static 'img/image_not_found.jpg' %}" class="card-img-top" alt="Image not found">
                {% endif  %}
                <div class="card-body">
                    <p class="card-text text-muted">cod: {{c.idConcierto}}</p>
                    <p class="card-title fw-bold">{{c.artista}}</p>
                    <p class="card-text">{{c.recinto}}</p>
                    <p class="card-text">{{c.fecha}}</p>
                    <p class="card-text">Entradas entre los {{c.valores}}</p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" href="{% url 'informacion' concierto_id=c.idConcierto %}">
                        <i class="fa-solid fa-info"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}