{% extends 'core/base.html' %}

{% load static %}

<script src="{% static 'js/formularioJquery.js' %}"></script>

{% block title %}Contactanos{% endblock %}

{% block first_content %}


<div class="container-fluid">
    <h2 class="text-center" id="text">Formulario de registro</h2>

    <div class="container my-1">
        <div class="row">
            {% if 'OK' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Mensaje <strong>ingresado</strong> satisfactoriamente.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if 'FAIL' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Se ha producido un error.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
            </div>
        </div>
    </div>  

    <form id="formulario" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="mb-3">
                <label for="nombre">Nombre: </label>
                <div class="input-group">
                    {{form.nombre}}
                </div>
            </div>

            <div class="mb-3">
                <label for="apellido">Apellido: </label>
                <div class="input-group">
                    {{form.apellido}}
                </div>
            </div>

            <div class="mb-3">
                <label for="correo">Correo eléctronico: </label>
                <div class="input-group">
                    {{form.correo}}
                </div>
            </div>

            <div class="mb-3">
                <label for="telefono">Teléfono: </label>
                <div class="input-group">
                    {{form.telefono}}
                </div>
            </div>

            <div class="mb-3">
                <label for="mensaje">Comentario: </label>
                <div class="input-group">
                    {{form.mensaje}}
                </div>
            </div>
        </div>
        <br>
        <div class="text-center my-4">
            <input type="submit" class="btn btn-primary m-2" id="registrar" value="Guardar">
            <input type="reset" class="btn btn-danger m-2" id="limpiar" value="Limpiar">
        </div>
        <hr>        
    </form>
</div>



{% endblock %}
